<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoDesafio</title>
    <!-- Required CSS Files -->
    <link href="css/tornado-icons.css" rel="stylesheet" />
    <link href="css/tornado.css" rel="stylesheet" />
    <link href="css/tornado-custom.css" rel="stylesheet" />
</head>
<body>
    <div class="home-header">
        <!-- Main Header -->
        <header class="tornado-header" data-sticky="absolute">
            <div class="container">
                <!-- Search Box -->
                <form class="form-ui search-box">
                    <input type="text" placeholder="Busque una película">
                    <button class="ti-search search-btn"></button>
                </form>
                <!-- Logo -->
                <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
                <!-- Action Buttons -->
                <div class="action-btns">
                    <!-- Counter Down -->
                    <a href="count-down.html" class="ti-clock-alarm icon-btn tooltip-bottom" data-title="Show Time Count Down"></a>
                    <!-- Notifications -->
                    <div class="dropdown notifications-dropdown">
                        <a href="#" class="dropdown-btn icon-btn ti-notifications" data-notifications="5"></a>
                        <ul class="dropdown-list">
                            <!-- Notifications Item -->
                            <li>a New Episode of One Piece has been Uploaded <a href="anime-stream.html"><strong>One Piece 898</strong></a></li>
                            <!-- Notifications Item -->
                            <li class="danger">Error Message Goes Here as Notification <a href="anime-stream.html"><strong>issue title</strong></a></li>
                            <!-- Notifications Item -->
                            <li>a New Chapter of Hunter x Hunter has been Uploaded <a href="anime-stream.html"><strong>One Piece 898</strong></a></li>
                            <!-- Notifications Item -->
                            <li class="warning">Warning Message Goes Here as Notification <a href="anime-stream.html"><strong>Warning Link</strong></a></li>
                        </ul>
                    </div>
                    <!-- User Menu -->
                    <div class="dropdown user-menu">
                        <a href="#" class="dropdown-btn icon-btn ti-user"></a>
                        <ul class="dropdown-list">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                        </ul>
                    </div>
                    <!-- Menu Button -->
                    <a href="#" class="menu-btn ti-menu-round icon-btn" data-id="main-menu"></a>
                </div>
            </div>
            <!-- Divider -->
            <hr />
            <!-- Main Menu -->
            <div class="container navigation-menu" data-id="main-menu" data-logo="img/logo-colored.png">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="anime-list.html">Películas</a></li>
                    <li><a href="manga-list.html">Música</a></li>
                    <li><a href="anime-ova.html">Ovas Anime</a></li>
                    <li><a href="anime-movies.html">Onas Anime</a></li>
                    <li><a href="forums.html">Programas</a></li>
                    <li><a href="blog.html">Especiales</a></li>
                    <li><a href="contact-us.html">Contáctanos</a></li>
                </ul>
            </div>
        </header>
        <!-- // Main Header -->
        <!-- Featured Slider -->
        <div class="container featured-media">
            <h2 class="vertical-title">D E S T A C A D O S</h2>
            <!-- Slider Track -->
            <div class="featured-slider">
                <!-- Media Block -->
                <div class="media-block featured">
                    <!-- Poster  -->
                    <a href="anime-stream.html" class="image ti-play" data-src="img/image-1.png"></a>
                    <!-- Info -->
                    <div class="info">
                        <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                        <a href="anime-stream.html"><h4>episode : 05</h4></a>
                    </div>
                    <!-- Rating -->
                    <a href="#" class="rating"><span>Rating</span> 9.0</a>
                </div>
                <!-- Media Block -->
                <div class="media-block featured">
                    <!-- Poster  -->
                    <a href="anime-stream.html" class="image ti-play" data-src="img/image-2.png"></a>
                    <!-- Info -->
                    <div class="info">
                        <a href="anime-details.html"><h3>One Piece</h3></a>
                        <a href="anime-stream.html"><h4>episode : 785</h4></a>
                    </div>
                    <!-- Rating -->
                    <a href="#" class="rating"><span>Rating</span> 9.0</a>
                </div>
                <!-- Media Block -->
                <div class="media-block featured">
                    <!-- Poster  -->
                    <a href="anime-stream.html" class="image ti-play" data-src="img/image-3.png"></a>
                    <!-- Info -->
                    <div class="info">
                        <a href="anime-details.html"><h3>Tiger Mask W</h3></a>
                        <a href="anime-stream.html"><h4>episode : 30</h4></a>
                    </div>
                    <!-- Rating -->
                    <a href="#" class="rating"><span>Rating</span> 9.0</a>
                </div>
                <!-- Media Block -->
                <div class="media-block featured">
                    <!-- Poster  -->
                    <a href="anime-stream.html" class="image ti-play" data-src="img/image-4.png"></a>
                    <!-- Info -->
                    <div class="info">
                        <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                        <a href="anime-stream.html"><h4>episode : 95</h4></a>
                    </div>
                    <!-- Rating -->
                    <a href="#" class="rating"><span>Rating</span> 9.0</a>
                </div>
                <!-- Media Block -->
                <div class="media-block featured">
                    <!-- Poster  -->
                    <a href="anime-stream.html" class="image ti-play" data-src="img/image-5.png"></a>
                    <!-- Info -->
                    <div class="info">
                        <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                        <a href="anime-stream.html"><h4>episode : 157</h4></a>
                    </div>
                    <!-- Rating -->
                    <a href="#" class="rating"><span>Rating</span> 9.0</a>
                </div>
                <!-- Media Block -->
                <div class="media-block featured">
                    <!-- Poster  -->
                    <a href="anime-stream.html" class="image ti-play" data-src="img/image-6.png"></a>
                    <!-- Info -->
                    <div class="info">
                        <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                        <a href="anime-stream.html"><h4>episode : 157</h4></a>
                    </div>
                    <!-- Rating -->
                    <a href="#" class="rating"><span>Rating</span> 9.0</a>
                </div>
            </div>
        </div>
        <!-- // Featured Slider -->
    </div>

    @RenderBody()

    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="container">
            <!-- Grid -->
            <div class="row">
                <!-- Puplare Anime -->
                <div class="col-12 col-m-6 col-l-3">
                    <h3>ANIMES POPULARES</h3>
                    <ul class="puplare-list">
                        <li class="small-media">
                            <a href="anime-details.html" class="image" data-src="img/image-1.png"></a>
                            <div class="info">
                                <a href="anime-details.html"><h3>Berserk 2021</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="anime-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                        <li class="small-media">
                            <a href="anime-details.html" class="image" data-src="img/image-2.png"></a>
                            <div class="info">
                                <a href="anime-details.html"><h3>Fullmetal Alchemist</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="anime-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                        <li class="small-media">
                            <a href="anime-details.html" class="image" data-src="img/image-3.png"></a>
                            <div class="info">
                                <a href="anime-details.html"><h3>Death Note</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="anime-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Puplare Manga -->
                <div class="col-12 col-m-6 col-l-3">
                    <h3>MANGAS POPULARES</h3>
                    <ul class="puplare-list">
                        <li class="small-media">
                            <a href="manga-details.html" class="image" data-src="img/image-09.png"></a>
                            <div class="info">
                                <a href="manga-details.html"><h3>D.Gray-Man 2016</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="manga-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                        <li class="small-media">
                            <a href="manga-details.html" class="image" data-src="img/image-10.png"></a>
                            <div class="info">
                                <a href="manga-details.html"><h3>Bleach</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="manga-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                        <li class="small-media">
                            <a href="manga-details.html" class="image" data-src="img/image-11.png"></a>
                            <div class="info">
                                <a href="manga-details.html"><h3>Shingeki no Kyojin</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="manga-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Puplare Movies -->
                <div class="col-12 col-m-6 col-l-3">
                    <h3>PELÍCULAS POPULARES</h3>
                    <ul class="puplare-list">
                        <li class="small-media">
                            <a href="anime-details.html" class="image" data-src="img/image-4.png"></a>
                            <div class="info">
                                <a href="anime-details.html"><h3>One Piece Film Gold</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="anime-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                        <li class="small-media">
                            <a href="anime-details.html" class="image" data-src="img/image-5.png"></a>
                            <div class="info">
                                <a href="anime-details.html"><h3>Trinity Seven Movie</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="anime-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                        <li class="small-media">
                            <a href="anime-details.html" class="image" data-src="img/image-6.png"></a>
                            <div class="info">
                                <a href="anime-details.html"><h3>Garo Divine Flame</h3></a>
                                <h4>Launch Date : 2021</h4>
                                <a href="anime-stream.html" class="more-btn">Watch Now</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Anime of the Day -->
                <div class="col-12 col-m-6 col-l-3">
                    <h3>Anime del día</h3>
                    <a href="#" class="banner"><img src="img/banner.png" alt=""></a>
                </div>
            </div>
            <!-- Footer Menu -->
            <div class="navigation-menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="anime-list.html">Películas</a></li>
                    <li><a href="manga-list.html">Música</a></li>
                    <li><a href="anime-ova.html">Ovas Anime</a></li>
                    <li class="logo"><a href="index.html">Onas Anime</a></li>
                    <li><a href="anime-movies.html">Programas</a></li>
                    <li><a href="forums.html">Especiales</a></li>
                    <li><a href="contact-us.html">Contáctanos</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- // Main Footer -->
    <!-- Copyrights -->
    <div class="copyrights">
        <div class="container">
            <p>todos los derechos reservados | Proyecto Desafío Latam</p>         
        </div>
    </div>
    <!-- Required JS Files -->
    <script src="js/tornado.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
