@{
    ViewData["Title"] = "Home Page";
}

<div class="media-section">
    <div class="container">
        <!-- Controls -->
        <div class="area-head">
            <h2 class="area-title">Top Rated Animes</h2>
        </div>
        <!-- Slider Track -->
        <div class="tns-outer media-slider-outer grid-mode" id="tns2-ow">
            <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button type="button" data-controls="prev" tabindex="-1" aria-controls="tns2"></button><button type="button" data-controls="next" tabindex="-1" aria-controls="tns2"></button></div><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">15 to 18</span>  of 6</div><div id="tns2-mw" class="tns-ovh">
                <div class="tns-inner" id="tns2-iw">
                    <div class="media-carousel row  tns-slider tns-carousel tns-subpixel tns-no-calc tns-horizontal" id="tns2" style="transform: translate3d(-70%, 0px, 0px);">
                        <div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-2.png" style="background-image: url(&quot;img/image-2.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-5.png" style="background-image: url(&quot;img/image-5.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2015</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-6.png" style="background-image: url(&quot;img/image-6.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Lanuch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-7.png" style="background-image: url(&quot;img/image-7.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Boruto Naruto The Next Generation</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-8.png" style="background-image: url(&quot;img/image-8.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-1.png" style="background-image: url(&quot;img/image-1.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2025</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-2.png" style="background-image: url(&quot;img/image-2.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item" id="tns2-item0" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-5.png" style="background-image: url(&quot;img/image-5.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2015</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item" id="tns2-item1" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-6.png" style="background-image: url(&quot;img/image-6.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Lanuch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item" id="tns2-item2" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-7.png" style="background-image: url(&quot;img/image-7.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Boruto Naruto The Next Generation</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item" id="tns2-item3" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-8.png" style="background-image: url(&quot;img/image-8.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item" id="tns2-item4" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-1.png" style="background-image: url(&quot;img/image-1.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2025</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item" id="tns2-item5" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-2.png" style="background-image: url(&quot;img/image-2.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-5.png" style="background-image: url(&quot;img/image-5.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2015</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned tns-slide-active">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-6.png" style="background-image: url(&quot;img/image-6.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Lanuch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned tns-slide-active">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-7.png" style="background-image: url(&quot;img/image-7.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Boruto Naruto The Next Generation</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned tns-slide-active">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-8.png" style="background-image: url(&quot;img/image-8.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned tns-slide-active">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-1.png" style="background-image: url(&quot;img/image-1.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2025</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-2.png" style="background-image: url(&quot;img/image-2.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-12 col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-5.png" style="background-image: url(&quot;img/image-5.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2015</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe CTA -->
<div class="subscribe-cta">
    <div class="container">
        <div class="row align-center-y">
            <!-- Section Title -->
            <div class="col-12 col-m-6 col-l-3">
                <h2>Subscribe</h2>
                <p><strong>To Your Fevorit Anime </strong> To Get The Newest Epioseds</p>
            </div>
            <!-- Step 01 -->
            <div class="ti-user cta-column col-12 col-m-6 col-l-3">
                <span class="step">01 <i>step</i></span>
                <h3>Signup <span>Create an Account</span></h3>
            </div>
            <!-- Step 02 -->
            <div class="ti-view-module cta-column col-12 col-m-6 col-l-3">
                <span class="step">02 <i>step</i></span>
                <h3>Chose <span>Chose Your Anime</span></h3>
            </div>
            <!-- Step 03 -->
            <div class="ti-notifications cta-column col-12 col-m-6 col-l-3">
                <span class="step">03 <i>step</i></span>
                <h3>Subscribe <span>Click to Subscribe</span></h3>
            </div>
        </div>
    </div>
</div>
<!-- // Subscribe CTA -->

<div class="text-center">
    <div class="row d-flex justify-content-center mt-200"> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Launch multistep Wizard </button> </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¡Hola! Ayúdanos a conocerte, dinos que te parecen estos animes</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div id="smartwizard">
                    <ul>
                        <li><a href="#step-1">Peli 1<br /><small>Calificación 1</small></a></li>
                        <li><a href="#step-2">Peli 2<br /><small>Calificación 2</small></a></li>
                        <li><a href="#step-3">Peli 3<br /><small>Calificación 3</small></a></li>
                        <li><a href="#step-4">Peli 4<br /><small>Calificación 4</small></a></li>
                    </ul>
                    <div>
                        <div id="step-1">
                            <div class="row">
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Name" required> </div>
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Email" required> </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Password" required> </div>
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Repeat password" required> </div>
                            </div>
                        </div>
                        <div id="step-2">
                            <div class="row">
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Address" required> </div>
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="City" required> </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="State" required> </div>
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Country" required> </div>
                            </div>
                        </div>
                        <div id="step-3" class="">
                            <div class="row">
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Card Number" required> </div>
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Card Holder Name" required> </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="CVV" required> </div>
                                <div class="col-md-6"> <input type="text" class="form-control" placeholder="Mobile Number" required> </div>
                            </div>
                        </div>
                        <div id="step-4" class="">
                            <div class="row">
                                <div class="col-md-12"> <span>Thanks For submitting your details with BBBootstrap.com. we will send you a confirmation email. We will review your details and revert back.</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'dots',
                autoAdjustHeight: true,
                transitionEffect: 'fade',
                showStepURLhash: false,

            });

        });
    </script>
}